.footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-seccond);
}

.link {
    color: var(--color-emphasis);
}